.vs/
*.user
*.suo

bin/
obj/
buildbin/
buildobj/
altbuildbin/
altbuildobj/
tempbin/
tempobj/

release/
release-fixed/

data/

third_party/
upstream-slipnet-src/
slipstream-picoquic-src/

rustup-init.exe
slipnet-main.zip
slipstream-picoquic-master.zip
upstream-slipnet.zip
